body {
	background-color: #00929F;
}

div.outerbox {
	font-family: sans-serif;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: white;
}